################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/plenera-api/CopilotIndices/17.12.38.29086/CodeChunks.db
/.vs/plenera-api/CopilotIndices/17.12.38.29086/CodeChunks.db-shm
/.vs/plenera-api/CopilotIndices/17.12.38.29086/CodeChunks.db-wal
/.vs/plenera-api/CopilotIndices/17.12.38.29086/SemanticSymbols.db
/.vs/plenera-api/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
/.vs/plenera-api/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
/.vs
/.vs/plenera-api/v17
/.vs/plenera-api/v17/.wsuo
/.vs/plenera-api/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/plenera-api
/plenera-api/.vs/plenera-api
/plenera-api/.vs/plenera-api/CopilotIndices/17.12.38.29086
/plenera-api/.vs/plenera-api/DesignTimeBuild
/plenera-api/.vs/plenera-api/FileContentIndex
/plenera-api/.vs/plenera-api/v17
/plenera-api/Plenera.API
/plenera-api/Plenera.API/obj
/plenera-api/Plenera.API/Plenera.API.csproj.user
/plenera-api/Plenera.API/Plenera.API.http
/plenera-api/Plenera.Application/obj
/plenera-api/Plenera.Application/obj/Debug/net8.0
/plenera-api/Plenera.Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/plenera-api/Plenera.Application/obj/Debug/net8.0/Plenera.Application.AssemblyInfo.cs
/plenera-api/Plenera.Application/obj/Debug/net8.0/Plenera.Application.AssemblyInfoInputs.cache
/plenera-api/Plenera.Application/obj/Debug/net8.0/Plenera.Application.assets.cache
/plenera-api/Plenera.Application/obj/Debug/net8.0/Plenera.Application.GeneratedMSBuildEditorConfig.editorconfig
/plenera-api/Plenera.Application/obj/Debug/net8.0/Plenera.Application.GlobalUsings.g.cs
/plenera-api/Plenera.Application/obj/Plenera.Application.csproj.nuget.dgspec.json
/plenera-api/Plenera.Application/obj/Plenera.Application.csproj.nuget.g.props
/plenera-api/Plenera.Application/obj/Plenera.Application.csproj.nuget.g.targets
/plenera-api/Plenera.Application/obj/project.assets.json
/plenera-api/Plenera.Application/obj/project.nuget.cache
/plenera-api/Plenera.Domain/obj
/plenera-api/Plenera.Domain/obj/Debug/net8.0
/plenera-api/Plenera.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/plenera-api/Plenera.Domain/obj/Debug/net8.0/Plenera.Domain.AssemblyInfo.cs
/plenera-api/Plenera.Domain/obj/Debug/net8.0/Plenera.Domain.AssemblyInfoInputs.cache
/plenera-api/Plenera.Domain/obj/Debug/net8.0/Plenera.Domain.assets.cache
/plenera-api/Plenera.Domain/obj/Debug/net8.0/Plenera.Domain.GeneratedMSBuildEditorConfig.editorconfig
/plenera-api/Plenera.Domain/obj/Debug/net8.0/Plenera.Domain.GlobalUsings.g.cs
/plenera-api/Plenera.Domain/obj/Plenera.Domain.csproj.nuget.dgspec.json
/plenera-api/Plenera.Domain/obj/Plenera.Domain.csproj.nuget.g.props
/plenera-api/Plenera.Domain/obj/Plenera.Domain.csproj.nuget.g.targets
/plenera-api/Plenera.Domain/obj/project.assets.json
/plenera-api/Plenera.Domain/obj/project.nuget.cache
/plenera-api/Plenera.Infrastructure/obj
/plenera-api/Plenera.Infrastructure/obj/Debug/net8.0
/plenera-api/Plenera.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/plenera-api/Plenera.Infrastructure/obj/Debug/net8.0/Plenera.Infrastructure.AssemblyInfo.cs
/plenera-api/Plenera.Infrastructure/obj/Debug/net8.0/Plenera.Infrastructure.AssemblyInfoInputs.cache
/plenera-api/Plenera.Infrastructure/obj/Debug/net8.0/Plenera.Infrastructure.assets.cache
/plenera-api/Plenera.Infrastructure/obj/Debug/net8.0/Plenera.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/plenera-api/Plenera.Infrastructure/obj/Debug/net8.0/Plenera.Infrastructure.GlobalUsings.g.cs
/plenera-api/Plenera.Infrastructure/obj/Plenera.Infrastructure.csproj.nuget.dgspec.json
/plenera-api/Plenera.Infrastructure/obj/Plenera.Infrastructure.csproj.nuget.g.props
/plenera-api/Plenera.Infrastructure/obj/Plenera.Infrastructure.csproj.nuget.g.targets
/plenera-api/Plenera.Infrastructure/obj/project.assets.json
/plenera-api/Plenera.Infrastructure/obj/project.nuget.cache
